.category {
  gap: 5px;
  flex-wrap: wrap;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: 160px;
  justify-content: space-evenly;
}
.category-sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .category::-webkit-scrollbar {
    width: 0;
  }
  
  .category::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .category::-webkit-scrollbar-thumb {
    background: transparent;
  }
  
  .category::-webkit-scrollbar-corner {
    background: transparent;
  } */

/* .ads-section-1,.ads-section-2 {
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  column-count: 3;
  column-gap: 10px;
  row-gap: 10px;
 
} */
#static-div-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-block: 8px;
  padding-inline: 8px;
  gap: 8px;
}
#static-div-2 img {
    width: calc(33.33% - 6px); 
}

.featured-brand{

}
#featured{
  
}

/* media query started */
@media (max-width: 1100px) {
  .category-sub img {
    width:calc(33%-5px);
 
  }


  .ads-section-1 img{
   
    /* height: 100px; */
    
  }
}
@media (max-width: 771px) {
  .category div {
  }
}

@media (max-width: 500px) {
  .category div {
  }
}

@media (max-width: 400px) {
}
