.footer{
    background-color: #212121;
    height: 280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}
.upper{
    height: 1rem;
}
.divider{
 height: 10px;
 background-color: #464D5F;
}
.lower{
   height:1rem; 
}
.footer 