.main-div{
    display: flex;
    flex-direction: column;
    padding-top: 4.5rem;
    padding-bottom: 10px;
    background-color: #C7C6D0;
    gap: 10px;
    padding-left: 8%;
    padding-right: 8%;
    
   
}
.sub-divs{
    width: 100%;
    background-color: #FFFFFF;
}

#scroll-bar{
    height: 20vh;
}
