.main-div {
  display: flex;
  flex-direction: column;
  padding-top: 4.5rem;
  padding-bottom: 10px;
  background-color: #f1f2f4;
  gap: 10px;
  padding-left: 8%;
  padding-right: 8%;
}
.sub-divs {
  width: 100%;
  background-color: #ffffff;
}
#catagory {
  height: 25vh;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-around;
  padding-inline: 30px;
  padding-top: 20px;
}







#scroll-bar {
  height: 20vh;
}

#static-div-1 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  overflow-x: hidden;
  padding-block: 5px;
   padding-left: 5px;
   padding-right: 5px;
    gap: 2px;
}
#Top-deals{
    width: 100%;
}
.top-deal{
    width: 100%;
    display: flex;
    justify-content:space-between;
    gap: 60%;
    padding-inline: 10px;
    cursor: pointer;
}
.rounded {
    justify-content: center;
    align-self: center;
    height: 22px;
    width: 22px;

    color: #ffffff;
    border-radius: 25px ;
}
.rounded i{
    padding-inline: 5.5px;
    padding-block: 4px;
}
.tpdeal{
    font-size: 25px ;
    font-weight: 500; 
    padding-block: 5px;
    padding-inline: 10px;
}

.top-deal .rounded {
    background-color: #2954E2;
    border-radius: 50%;
     
  }
  
  .top-deal .rounded i {
    color: white;
    
  }



.cards{
    cursor: pointer;
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 10px;
   padding-inline: 10px;
   padding-block: 10px;
   overflow-x: hidden;
   justify-content: space-around;
   height: 220px;
   overflow-y: hidden;
   
}
.card{
   
    
    justify-content: center;
    align-items: center;
    height: 210px;
    width: 150px;
   border-radius: 5px    ;
   border-style: solid;
   border-color: #E0E0E0;
}
.card img{
    
    padding-inline: 8px;
    padding-block: 8px;
    height: 155px ;
    width: 150px;
    object-fit: contain;
}
.card p,h3{
    margin-left: 10px;
    width: 140px;
}





#static-div-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-block: 8px;
    padding-inline: 8px;
    gap: 8px;
}
#static-div-2 img {
      width: calc(33.33% - 6px); 
  }
  #static-div-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-block: 8px;
    padding-inline: 8px;
    gap: 8px;
}
#static-div-3 img {
      width: calc(33.33% - 6px); /* Adjust width and margin as needed */

  }