
.nav-bar{
    background-color: #FFFFFF;
    display: flex;
    padding: 10px 10px;
    gap: 20px;
    align-items: center;
    padding-inline: 150px;
   width: 100%;
    position: fixed;
    z-index: 10;
    
}
.search-box{
    padding: 5px ;
    display: inline;
    position: relative;
}
.fa-search {
    background-color:#F0F5FF ;
    position: absolute;
    top: 50%;
    left: 15px; 
    transform: translateY(-50%);
    cursor: pointer;
}
#search{
    color: #555;
    padding-left: 30px;
    width: 35vw;
    height: 5vh;
    border-radius: 5px;
    padding-right: 30px;
    
}

.cart,.store{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    gap: 5px;
    cursor: pointer;
}
.profile{
  background-color: #F0F5FF;
}
.profile button{
    cursor: pointer;
    align-items: center;
    display: flex;
    gap: 10px;
    height: 100%;
    font-size: 17px;
    font-weight: 500;
    padding: 7px 15px;
   border: none;
    color: #000; 
    border-radius: 5px;
}
.profile button:hover{
    
    background-color:#2954E2 ;
    color:#F1F3F6 ; 
}
.tooltip{
    visibility: hidden;
    height: 0;
    width: 0;
}
.tooltip:hover{
    visibility: visible;
}