*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F1F2F4;
    overflow-x: hidden;
}
.wrapper{
    background-color: #F1F2F4;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media screen {
    
}

.flex{
    display: flex;
}